html, body{
   overflow-x: hidden;
}

body {
   font-family: "Roboto", Helvetica, Arial, sans-serif;
   color:#333333;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

h1 {
   font-size: 64px;
   font-weight: 100;
   margin-top: 25px;
   margin-bottom: 5px;
}

h2 {
   font-size: 36px;
   font-weight: 300;
   margin-bottom: 5px;
}

h3 {
   font-size: 24px;
   font-weight: 300;
   line-height: 32px;
   margin-top: 0px;
   margin-bottom: 5px;
}

p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
}


 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }


 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }


 /* HEADER */
 header {
   color:#FFFFFF;
   background: #82644F;
   background-image: linear-gradient(206deg, #36312D 0%, #82644F 94%);
 }
 header nav {
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#82644F;
 }
 header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }


/* BUTTONS */
 .btn {
   border-radius: 6px;
   color: #FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #BE1432;
   border: 2px solid #BE1432;
 }
 .btn:hover {
   background: #FFFFFF;
   color: #BE1432;
   border: 2px solid #FFFFFF;
 }


/* FOOTER */
 footer {
   background-color: #82644F;
   background-image: linear-gradient(to top,
      #3498DB 0%, #3498DB 50%, #82644F 50%, #82644F 100%);
   color: #FFFFFF;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 footer .right-footer-block {
   background-color: transparent;
 }
 footer .logo{
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
 }

 @media (min-width: 992px){
   footer{
     background-color: #3498DB;
     background-image: linear-gradient(to left,
        #3498DB 0%, #3498DB 33.33337%, #82644F 33.33337%, #82644F 100%);
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .right-footer-block {
     background-color: #3498DB;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }


 /* DASHBOARD */
 .dashboard {
   background:#EBE4DE;
 }
 .left-nav {
   height: 100%;
   width:280px;
   background: #82644F;
   position:absolute;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
   -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
   -o-transform: translate(-280px,0); /** Opera **/
   -moz-transform: translate(-280px,0); /** Firefox **/
 }
 .left-nav.open {
   display:block;
   width:280px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
   -webkit-transform: translate(0,0); /** Chrome & Safari **/
   -o-transform: translate(0,0); /** Opera **/
   -moz-transform: translate(0,0); /** Firefox **/
   z-index: 100;
 }
 .hamburger {
   position:absolute;
   z-index: 1000;
   background:#36312D;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 7px 15px 10px;
   border-radius: 4px;
   left: 5px;
   top: 19px;
 }
  @media (min-width:992px) {
   .left-nav {
     height: 100vh;
     width:14.66666667%;
     background: #82644F;
     float:left;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .left-nav.open {
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }
 }


 .left-nav .site-logo {
   padding:20px 0;
   background:#36312D;
   display:block;
   text-align: center;
 }
 .left-nav .items {
   margin:0 6%;
 }
 .left-nav .items p {
   font-weight: 500;
   text-transform: uppercase;
   font-size: 12px;
   color: #E2E2E2;
   line-height: 14px;
   margin-left: 3%; /* I added this */
 }
 .left-nav .items ul {
   margin:0 0 20px;
   padding:0;
 }
 .left-nav .items ul li {
   list-style-type: none;
   margin-bottom: 0px;
   padding: 5px 5px; /* I added this */
 }
 .left-nav .items ul li.active {
   background: #36312D;
 }
 .left-nav .items ul li a {
   font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
   font-size: 14px;
   color:#FFB256;
   text-decoration: none;
   font-weight: 400;
 }
 .left-nav .items ul li:hover {
   background: #36312D;
 }
 .left-nav .items ul li a:hover {
   color:#E2E2E2;
 }
 .left-nav .items ul li a i {
   width:18px;
   font-size: 18px;
   text-align: center;
   margin-right:8px;
 }


  /* LEFT NAVBAR SETTINGS */
 .left-nav .settings {
   position:absolute;
   background:#FFB256;
   color: #36312D;
   width:100%;
   bottom:0;
   left:0;
   right:0;
   padding:10px 0px;
 }
 .left-nav .settings img {
   height:35px;
   width:35px;
   border-radius: 50%;
   margin-left:10px;
   display: inline-block;
 }
 .left-nav .settings p {
   display: inline-block;
   vertical-align: top;
   padding-top: 10px;
   font-weight: 400;
   margin:0 0 0 5px;
 }
.account-settings a {
   color:#36312D;
   font-size: 15px;
   text-decoration: none;
   text-align: left;
   float: left;
   margin-bottom:10px;
}
.account-settings .cog {
   color:#36312D;
   font-size: 21px;
   text-decoration: none;
   text-align: right;
   float: right;
   margin-top:8px;

}


/* ACCOUNT SETTINGS COG */
 .left-nav .settings .cog {
   margin-right: 20px;
 }
 .left-nav .settings .cog:hover {
   color: #E2E2E2;
 }


  /* CONTENT */
 .menu-items a {
   font-size: 15px;
   font-weight: 400;
   color: #36312D;
 }
 .content {
   padding:6em 1% 1.5em;
   float:right;
   width:98%;
   position: relative;
 }
 .content .header {
   margin:0 1% 20px;
 }
 .content .header h1 {
   font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin:0 0 30px;
   font-size: 36px;
   color: #36312D;
   line-height: 44px;
   float: left;
   display:inline-block;
 }
 .content .header > a {
   float:right;
 }
 .content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
 }
 .item-box {
   display:block;
   height:230px;
   background: #FFB256;
   box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }
.item-box:hover {
   box-shadow: none;
}

 /* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }


 .item-box > img {
   position:absolute;
   height:100%;
   width:auto;
   top:0;
   left:0;
   right:0;
 }
 .item-box h5 {
   font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 15px;
   line-height: 17px;
   margin:0;
 }
 .item-box .img-caption {
   top:20px;
   left:20px;
   position:absolute;
   z-index: 5;
   text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
 }
 .item-box .img-caption a {
   color: #FFB256;
 }
 .item-box .img-caption a:hover {
   text-shadow: 0px 1px 4px rgba(0,0,0,0.50);
 }
 .item-box h5 a {
   color: #36312D;
   text-decoration: none;
 }
 .item-box h5 a:hover {
   color: #FFFFFF;
 }
 .item-box h5 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;
 }
 .item-box p {
   font-size: 14px;
   color: #333333;
   line-height: 18px;
   margin:5px 0 0;
 }